<!DOCTYPE html>
<html>
<head>
  <title>Prutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><a href="log.txt" download>Download</a></h1>
<%= yield %>
<h1>This is Apoorv's App.</h1>
<!-- hitwebcounter Code START -->

<img src="http://hitwebcounter.com/counter/counter.php?page=6339217&style=0026&nbdigits=5&type=page&initCount=0" title="www.hitwebcounter.com" Alt="www.hitwebcounter.com"   border="0" >
                                        <br/>
                                        <!-- hitwebcounter.com --><strong>This Website Visits                                        </strong>
                                          

</body>
</html>
