<!DOCTYPE html>
<html>
<head>
  <title>Prutu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><a href="log.txt" download>Download</a></h1>
<%= yield %>
<h1>This is Apoorv's App.</h1>
</body>
</html>
